// _variables.scss
// =================

@import "https://fonts.googleapis.com/css?family=Lato:400,700|Vollkorn:400,400i";

$white         : #ffffff;
$darkBlue      : #2D3E50;
$niceGreen     : #00b30e;
$mainGray      : #E7E8E7;
$myPink        : #f396ef;


$headFont : 'Vollkorn', serif;
$bodyFont : 'Lato', sans-serif;